<!DOCTYPE html>
<html>
<head>
	<title>DELETE TuiTionS</title>
	<link rel="stylesheet" type="text/css" href="/assets/pic.css">
	<style rel="stylesheet" type="text/css">
#tab1{
	  color: whitesmoke;
		font-size: 25px;
	}
	#tab2{
		  color: whitesmoke;
			font style: "Algerian";
			background-color: red;
		}
</style>

</head>

<body><center>
  <form method="post">

	<table id="tab1" border="5">
    <tr>
       <td colspan="2"><h1><center>!!! D E L E T E  ???</center></h1></td>
    </tr>

		<tr>
				<td>seriaL</td>
				<td><%= available.serial %></td>
			</tr>
			<tr>
				<td>T.NAME</td>
				<td><%= available.tutors %></td>
			</tr>
			<tr>
				<td>S.NAME</td>
				<td><%= available.students%></td>
			</tr>
			<tr>
				<td>cLassofStudent</td>
				<td><%= available.s_class %></td>
			</tr>
      <tr>
				<td>AREA</td>
				<td><%= available.courses %></td>
			</tr>
      <tr>
				<td>time</td>
				<td><%= available.tuition_area %></td>
			</tr>
		</table>
    <br>

    <table border="3">
      <tr>
        <td colspan="3"><h2><div id="tab2">YOU WANT TO DELETE THE ENTIRE ROW? YOU CANNOT UNDO !!</div></h2></td>
      </tr>
      <tr>
        <td><input type="hidden" name="serial" value="<%= available.serial %>"></td>
        <td><center><input type="submit" name="submit" value="D E L E T E"></center></td>
        <td><a href="/dashboard/TP_Available_Tuitions">AVAiLABLE TUiTiONS</a></td>
      </tr>
    </table>

  </form>
</center></body>
</html>
