<!DOCTYPE html>
<html>
<head>
	<title>TEACHERS OF THIS SITE</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
<style type="text/css">

	table{
	border-collapse: collapse;
	width: 100%;
	color: white;
	background-color: blue;
	font-style: "Arial Rounded MT Bold";
	font-size: 20px;
	text-align: center;
	}
	#no
	{
		color: blue;
		background-color: white;
		font-style: "Arial Rounded MT Bold";
		font-size: 20px;
		text-align: center;

	}
	#of
	{
		color: blue;
		background-color: white;
		font-style: "Arial Rounded MT Bold";
		font-size: 20px;
		text-align: center;

	}
	#link
	{
		color: blue;
		background-color: white;
		font-style: "Arial Rounded MT Bold";
		font-size: 20px;
		text-align: center;

	}

</style>

</head>

<body><center>
	<form>

	<table border="5">
		<tr>
			<td><div id="of"><h1><center><a href="/dashboard/TP_Teacher_Schedules">SCHEDULES</a></center></h1></div></td>
			<td colspan="7"><h1>T E A C H E R S</h1><div id="no"><u>TOTAL TEACHERS: <%= teacher.length %></u></div></td>
		</tr>

		<tr>
			<th>ID</th>
			<th>TUTOR_NAME</th>
			<th>Email</th>
			<th>Gender</th>
			<th>Education</th>
			<th>Sub_to_Teach</th>
			<!-- <th colspan="7">ACTiONS</th> -->
		</tr>

		<% for(var i=0; i < teacher.length; i++){ %>
		<tr>
			<td><%= teacher[i].id %></td>
			<td><%= teacher[i].tutor_name %></td>
			<td><%= teacher[i].email %></td>
			<td><%= teacher[i].gender %></td>
			<td><%= teacher[i].education %></td>
			<td><%= teacher[i].provide %></td>

		</tr>
		<% } %>

		<tr>
        <td><div id="of"><h1><center><a href="/dashboard/TP_Teacher_List/insert">insert</a></center></h1></div></td>
        <td colspan="7"><div id="of"><a href="/dashboard">H O M E</div></a></td>
		</tr>
			</table>

		</form>
</center></body>
</html>








<!-- <td colspan="7"><center>
 <div id="link">
	 <a href="/dashboard/TP_Available_Tuitions/edit/ teacher[i].serial">UPDATE</a> ~
 <a href="/dashboard/TP_Available_Tuitions/delete/= tuitionList[i].serial">DELETE</a>
</div>
</center></td>  -->
